.myarticle-list{
  width: 100%;
  padding: 24px 0;
  
  /* border-bottom: 1px solid #aaaaaa; */
}

.favorite {
  display: flex;
  border: 1px solid #5cb85c;
  justify-content: space-between;
  height: 30px;
  width: auto;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #5cb85c;
  color: #fff;
}
.favorite i{
  font-size: 12px;
}
.favorite:hover{
  background-color: #fff;
  color: #5cb85c;
}
.myarticle-line1 {
  height: 32px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
  
}
.myarticle-line1 img {
  border-radius: 50%;
  height: 100%;
  width: 32px;
  margin-right: 10px;
  cursor: pointer;
}
.myarticle-line1 .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: fit-content;
  line-height: 1rem;
}
.myarticle-line1 .content p:nth-child(1) {
  height: 50%;
  width: fit-content;
  margin: auto 0;
  font-size: 16px;
  color: #5cb85c;
  padding: auto 0;
  cursor: pointer;
}
.myarticle-line1 .content p:nth-child(1):hover {
 text-decoration: underline;
}
.myarticle-line1 .content p:nth-child(2) {
  height: 50%;
  width: fit-content;
  margin: auto 0;
  font-size: 12.5px;
  color: #999999;
  font-weight: lighter;
}
.myarticle-line2 h1{
 font-size: 1.5rem;
 margin-bottom: 0;
 cursor: pointer;
}
.myarticle-line3 p{
   color: #999999;
   font-weight: lighter;
   cursor: pointer;
}
.myarticle-line4 p{
   color: #b1aeae;
   font-weight: lighter;
   font-size: 0.8rem;
   cursor: pointer;
}

.myarticle-line4 .taglist {
   display: flex;
   gap: 0.25rem;
   cursor: pointer;
}

.myarticle-line4 .taglist p{
   color: #b1aeae;
   border: 1px solid #d1cdcd;
   padding: 0 5px;
   border-radius: 30px;
}

.pagination {
  border-radius: 5px;
}
.pagination button{
  padding: 8px 12px;
  border: 1px solid #999;
  color: #5cb85c;
  background-color: #fff;
}
.pagination .active{
  background-color: #5cb85c;
  color: #fff;
}
.pagination .not-active:hover{
  text-decoration: underline;
  background-color: #cecdcd;
}
.pagination .active:hover{
  text-decoration: underline;
}
.loading-articles{
  margin-top: 30px;
}
.no-articles{
  margin-top: 30px;
}